<div style="margin-bottom: 10vh"><a href="https://kanye.rest">API SITE</a></div>
<section style="text-align: center">
  <img
    src="https://images.businessoffashion.com/profiles/asset/1797/43897e2e4a6d155d72dd9df352017b546ef9e229.jpeg"
    alt="W3Schools.com"
    style="width: 300px"
  />
  <h1 style="font-size: 40px; margin-top: 10px">{{ title }}</h1>
  <h3>
    {{kanyeQuote}}
  </h3>
  <button type="button" (click)="getKanyeQuote()">Get Quote</button>
  <button type="button" (click)="addFavorite()">Add Favorite</button>
  <ul>
    <li *ngFor="let lol of favoriteList">
      {{ lol }}
    </li>
  </ul>
</section>
<section style="text-align: center; margin-top: 60px">
  <hr style="max-width: 30%" />
  <h2>My Quotes</h2>
  <form (ngSubmit)="submitQuote()">
    <input [(ngModel)]="personalQuote" name="personalQuote" />
    <button type="submit">Submit</button>
  </form>
  <ul>
    <li *ngFor="let lol of personalQuoteList">
      {{ lol }}
    </li>
  </ul>
</section>
